@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');

@import "components/variables";
@import "components/global";
@import "components/grid";
@import "components/navbar";
@import "components/sidenav";
@import "components/buttons";
@import "components/footer";
@import "components/header";
@import "components/jumbotron";
@import "components/modal";

.wrapper
{
    header
    {
        .fixed-sidenav
        {
            position: fixed;
            height: 100%;
            width: 300px;
            border-right: 1px solid $color-light-grey;
            background-color: $color-background;

            .column
            {
                padding: 0;
                margin: 0;
            }

            .logo
            {

                color: $color-primary;
                padding: 55px 10px;
                font-size: 30px;
                display: list-item;
                list-style: none;
                font-weight: $weight-medium;

                &:hover
                {
                    color: $color-primary-dark;
                }
            }

            .sidenav-item
            {
                display: list-item;
                list-style: none;
                padding: 15px 0px 15px 30px;
                color: $color-text-dark;
                font-weight: $weight-medium;

                &:hover
                {
                    color: $color-secondary;
                }
            }

            .dropdown-container
            {
                display: none;

                .dropdown-item
                {
                    display: list-item;
                    list-style: none;
                    padding: 15px 0px 15px 30px;
                    color: $color-text-dark;

                    &:hover
                    {
                        background-color: $color-lightest-grey;
                    }
                }
            }

            .active
            {
                background-color: $color-lightest-grey;
            }
            
            .active-dropdown-item
            {
                background-color: $color-primary;
                color: $color-white !important;
            }
        }
    }

    main
    {
        padding-left: 350px;
        width: 97%;

        .section
        {
            border-bottom: 1px solid $color-light-grey;
        }

        h1, h2, h3, h4, h5, h6, p, a
        {
            font-weight: $weight-regular;
        }

        .title
        {
            color: $color-secondary;
            font-size: 55px;
        }

        .introduction
        {

        }
    }
}